---
layout: layouts/base.njk
permalink: /emails/posts/
---

<h1>Email Posts</h1>

<ul>
	{% for post in collections.posts %}
		<li>
			<h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
			<p><small>{{ post.date | readableDate("LLLL d, yyyy", "utc") }}</small></p>

			{# Convert margin notes into a more email-friendly form #}
			{% set transformed = post.templateContent | emailifyMarginNotes %}
			<div class="email-post">
				{{ transformed | safe }}
			</div>
		</li>
	{% endfor %}
</ul>
