---
pagination:
  data: collections.posts
  size: 1
  alias: post
permalink: "/emails/{{ post.fileSlug }}/"
layout: layouts/post-email.njk
---

{# Provide layout vars in render scope #}
{% set webUrl = post.url %}
{% set transformed = post.templateContent | emailifyMarginNotes %}
{% set emailContent = transformed.content %}
{% set endnotes = transformed.endnotes %}

{# Emit content so Eleventy processes templateContent and keeps variables in scope for layout. #}
{{ "" }}
