---
pagination:
  data: collections.posts
  size: 1
  alias: post
permalink: "/emails/{{ post.fileSlug }}/"
layout: layouts/post-email.njk

eleventyComputed:
  title: "{{ post.data.title }}"
  date: "{{ post.date }}"
  webUrl: "{{ post.url }}"
  robots: "noindex,follow"
  canonical_url: "{{ post.url }}"
---

{{ post.templateContent | safe }}
